p {
  font-family: "Raleway";
}

.deleteConfirmation {
  border: 1px solid red;
}
.deleteConfirmation button {
  border-radius: 8px;
  border: 0;

  font-family: "Raleway";
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 2px;
  background-color: #44bcee;
}

#itemDetails {
  width: 100%;

  margin-top: 50px;
  height: auto;
  display: block;

  /* margin: auto; */
}

.itemDetailsImg {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  width: 500px;
  height: 550px;
  margin-left: 350px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.itemallDetails {
  width: 600px;
  margin-top: -600px;
  margin-right: 350px;
  float: right;
  height: auto;
}

#titleDetails {
  margin-top: 20px;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 1px;
  color: #44bcee;
  z-index: -1;
}

#descriptionDetails {
  font-size: 20px;
  margin-top: 50px;
  color: grey;
  text-align: justify;
}
#priceDetails {
  font-weight: 700;
  font-size: 30px;
  margin-top: 30px;
}

#cartBtn {
  border-radius: 8px;
  border: 0;
  float: right;
  margin-top: -54px;
  margin-bottom: 20px;
  height: 55px;
  width: 340px;
  font-family: "Raleway";
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 2px;
  background-color: #44bcee;
}
#addItem {
  border: none;
  /* border: 1px solid #e6e6e6; */
  /* margin-top: 5px; */
  height: 45px;
  width: 100px;
  font-family: "Raleway";
  font-size: 40px;
  margin-left: 60px;
  padding: 0px;
  outline: none;
  padding-left: 30px;
}
#formContainer {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  margin-top: 20px;
  height: 55px;
  width: 250px;
  font-family: "Raleway";
  padding: 0px;
  outline: none;
  padding-left: 10px;
}
#minusSign {
  margin-right: 80px;
  margin-top: -60px;
}
#plusSign {
  margin-left: 80px;
  margin-top: -60px;
}

#optionBtn {
  height: 25px;

  float: right;
  margin-top: 35px;
  cursor: pointer;
}
#optionSection {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  float: right;
  margin-top: 60px;
  width: 150px;
  height: auto;
  text-align: center;
  font-family: "Raleway";
  display: none;
  z-index: 1;
}
#optionSection button {
  width: 150px;
  height: 40px;
  letter-spacing: 2px;
  background-color: white;
  border: none;
}
#optionSection button:hover {
  background-color: #44bcee;
}

/* // Similar Products// */

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin-top: 50px;
  height: 550px;
  border-radius: 8px;
  padding: 20px;
}
#productContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 1400px;
  margin-top: 20px;
  height: auto;
}
.productItem {
  background-color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 240px !important;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 330px;
  padding: 5px;
}

.productItem a {
  text-decoration: none;
  text-align: center;
}
.productItem a:hover {
  opacity: 0.5;
}
#titleContainer {
  text-align: center;
  /* margin-left: 25px; */
  margin-top: 40px;
  margin-bottom: 0px;
  font-family: "Raleway";
  font-weight: 600;
  color: #44bcee;
}
#priceContainer {
  margin-top: 0px;
  color: grey;
}
#imageContainer {
  text-align: center;
  height: 200px;
}

#imageContainer img {
  margin-top: 25px;
  width: 90%;
  height: 200px;
  /* margin-left: 20px; */
}

/* .titleContainer{

} */

.container img {
  width: 150px;

  margin-bottom: 40px;
}

#similarProducts {
  width: 1400px;
  margin-left: 340px;
}
#similarProductsHeader {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 1px;
  color: #44bcee;
}
