body {
  background-color: #44bcee;
}
.responsive {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-family: "Roboto";
  word-spacing: 3px;
  color: #787d7a;
  font-size: 50px;
}
a {
  letter-spacing: 1px;
}
.navBar {
  background-color: #44bcee;
  display: flex;
  height: 80px;
}
.navBarContent {
  display: flex;

  width: 1150px;
}
.navBarContent > .desktopView {
  display: flex;
}

#mainLogo {
  width: 100px;
  padding: 10px;
  margin-left: 80px;
}
#navBarCart {
  width: 30px;
  margin-left: 150px;
  cursor: pointer;
}
#navBarProfile {
  width: 30px;
  margin-left: 20px;
  cursor: pointer;
}
#logoutBtn {
  cursor: pointer;
}
#logoutBtn:hover {
  background-color: #44bcee;
}

.navBar p {
  margin-left: 100px;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Raleway";
  letter-spacing: 1px;
  color: white;
}
.navBar p:hover {
  cursor: pointer;
  color: black;
}

.socialMediaIcons {
  width: 35px;
  display: flex;
  margin-left: 150px;
  cursor: pointer;
}
#fbIcon {
  margin-left: 10px;
}
#instaIcon {
  margin-left: 10px;
}
#tiktokIcon {
  margin-left: 10px;
}
#selection {
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  margin-top: 20px;
  margin-left: 30px;
  /* margin-bottom: 10px; */
  height: 35px;
  width: 200px;
  font-family: "Raleway";
  padding: 0px;
  outline: none;
  text-align: center;
}
.hide {
  display: none;
  margin-top: 60px;
  margin-left: -70px;
  font-size: 10px;
}
.comingSoon:hover + .hide {
  display: block;
  color: white;
}

#logoutPopup {
  background-color: white;
  width: 85px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 30px;
  text-align: center;
  font-family: "Raleway";
  padding-top: 3px;
  margin-left: 1230px;
  margin-top: -15px;
  position: fixed;
  display: none;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin-top: 50px;
  height: 550px;
  border-radius: 8px;
  padding: 20px;
}
#productContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 1400px;
  margin-top: 20px;
  height: auto;
}
.productItem {
  background-color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 240px !important;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 330px;
  padding: 5px;
}

.productItem a {
  text-decoration: none;
  text-align: center;
}
.productItem a:hover {
  opacity: 0.5;
}
#titleContainer {
  text-align: center;
  /* margin-left: 25px; */
  margin-top: 40px;
  margin-bottom: 0px;
  font-family: "Raleway";
  font-weight: 600;
  color: #44bcee;
}
#priceContainer {
  margin-top: 0px;
  color: grey;
}
#imageContainer {
  text-align: center;
  height: 200px;
}

#imageContainer img {
  margin-top: 25px;
  width: 90;
  height: 200px;
  /* margin-left: 20px; */
}

/* .titleContainer{

} */

.container img {
  width: 150px;

  margin-bottom: 40px;
}

#passVisibility {
  position: absolute;
  top: 425px;
  right: 780px;
  width: 16px;
  cursor: pointer;
  display: none;
}
#passVisibilityOpen {
  position: absolute;
  top: 425px;
  right: 780px;
  width: 16px;
  cursor: pointer;
}
#passVisibilityRegister {
  position: absolute;
  top: 438px;
  right: 780px;
  width: 16px;
  cursor: pointer;
  display: none;
}
#passVisibilityOpenRegister {
  position: absolute;
  top: 438px;
  right: 780px;
  width: 16px;
  cursor: pointer;
}

.links {
  margin-left: 250px;
  text-decoration: none;
  margin-top: -10px;
  font-family: "Raleway";
  color: #787d7a;
  font-size: 12px;
}
.link {
  margin-left: 350px;
  text-decoration: none;
  margin-top: -10px;
  font-family: "Raleway";
  color: #787d7a;
  font-size: 10px;
}

.container a:hover {
  color: black;
}
span {
  font-family: "Raleway";

  font-size: 12px;
  letter-spacing: 1px;
  color: red;
}
.fields {
  border-radius: 8px;
  border: 1px solid #e6e6e6;

  margin-top: 20px;
  /* margin-bottom: 20px; */
  height: 35px;
  width: 370px;
  font-family: "Raleway";
  padding: 0px;
  outline: none;
  padding-left: 10px;
}
input.fields,
textarea {
  background: #e6e6e6;
}

.button {
  border-radius: 8px;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 35px;
  width: 380px;
  font-family: "Raleway";
  color: white;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  background-color: #44bcee;
}
.button:active {
  box-shadow: 0 5px #15abea;
  transform: translateY(4px);
}
#mobOptionsIcon {
  display: none;
}
#mobViewNavBar {
  display: none;
}

/* Mobile View */ /*Login and Register*/
@media screen and (max-width: 480px) {
  .container {
    width: 300px;
  }

  .fields {
    width: 310px;
  }

  h1 {
    text-align: center;
  }

  .button {
    width: 320px;
  }

  .link {
    margin-left: 280px;
  }

  .links {
    margin-left: 150px;
  }
  #mobOptionsIcon {
    display: block;
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
  }
  #mainLogo {
    margin-top: -50px;
    margin-left: 200px;
  }
  #mobViewNavBar {
    display: none;
    position: fixed;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 480px;
    height: auto;
    text-align: center;
  }
  #mobViewNavBar hr {
    color: #44bcee;
    height: 3px;
  }
  #mobViewNavBar p {
    margin-top: 15px;
    font-family: "Raleway";
    color: black;
  }
  #selection {
    position: absolute;
    width: 220px;
    margin-top: 90px;
    margin-left: -170px;
  }

  .main {
    width: 480px !important;
  }
  #productContainer {
    margin-top: 40px;
    width: 100%;
    justify-content: center;
  }
  .productItem {
    width: 310px !important;
  }
  .navBar {
    width: 480px;
  }
  .navBarContent {
    display: none;
  }
  .socialMediaIcons {
    display: none;
  }
  .socialMediaIconsMob {
    width: 35px;
    display: flex;
    margin-left: 180px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1300px) {
  .main {
    width: 350px;
  }
  table {
    width: 350px;
  }
}

/* Table Content */

table {
  font-family: "Raleway";
  border-collapse: collapse;
  width: 1200px;
  height: auto;
  background-color: white;
}
td,
th {
  text-align: center;
  padding: 8px;
  border: 1px solid #44bcee;
}
th {
  background-color: #44bcee;
}
.productImage {
  width: 150px;
  /* height: 150px; */
  /* height: 80px; */
}
tr {
  border: 1px solid #44bcee;
}
/* 
tr:nth-child(1) {
  background-color: black;
  color: white;
  height: 80px;
}
tbody > tr > :nth-child(1) {
  text-align: left;
}
tr:nth-child(2) {
  height: 60px;
}
tr:nth-child(3) {
  height: 60px;
  background-color: #44bcee;
}
tr:nth-child(4) {
  height: 60px;
}
tr:nth-child(5) {
  height: 60px;
  background-color: #44bcee;
}
tr:nth-child(6) {
  height: 60px;
}
tr:nth-child(7) {
  height: 60px;
  background-color: #44bcee;
}
tr:nth-child(8) {
  height: 60px;
} */
/* Home Page */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1400px;
  margin: auto;
  margin-top: 20px;

  /* margin-left: 400px; */
  /* margin-right:400px; */
}
.home-body {
  background-color: #e6e6e6;
  margin-top: 20px;
}
#homepage-heading {
  margin-top: 20px;
  margin-right: auto;
  color: #44bcee;
}

/* border-radius: 8px;
  border: 0;
  margin-left: 930px;
  margin-top: -54px;
  margin-bottom: 10px;
  height: 40px;
  width: 280px;
  font-family: "Raleway";
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 2px;
  background-color: #44bcee; */
